.root {
    -fx-base: #2b2b2b;
    -fx-background: #1e1e1e;
    -fx-text-fill: #f0f0f0;
}

.label {
    -fx-text-fill: #f0f0f0;
}

.button {
    -fx-background-color: #3a3a3a;
    -fx-text-fill: #ffffff;
    -fx-border-color: #555555;
    -fx-border-radius: 5;
}

.button:hover {
    -fx-background-color: #505050;
}

.table-view {
    -fx-background-color: #2b2b2b;
}

.table-row-cell {
    -fx-background-color: #2b2b2b;
}

.table-row-cell:filled:selected {
    -fx-background-color: #5c6bc0;
}

.table-cell {
    -fx-text-fill: #f0f0f0; /* this makes the text white */
    -fx-background-color: transparent;
}

.progress-bar {
    -fx-accent: #64b5f6;
}
.label-link, .button, .tab {
    -fx-cursor: hand; /* cursor pointer */
}

.label-link:hover {
    -fx-underline: true; /* underline on hover */
    -fx-text-fill: green;
}

.label-link-dpLabel {
    -fx-cursor: hand; /* cursor pointer */
}
.label-link-dpLabel:hover {
    -fx-underline: true; /* underline on hover */
    -fx-text-fill: #2a9d8f;
}

.button-fire {
    -fx-background-color: linear-gradient(to bottom, #FFD700, #FF8C00);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 4, 0.3, 0, 2);
    -fx-padding-left: 16;         /* fixed padding */
    -fx-padding-right: 16;         /* fixed padding */
    -fx-border-width: 0;            /* no border */
    -fx-scale-x: 1;                 /* no scale transform */
    -fx-scale-y: 1;
    -fx-translate-x: 0;
    -fx-translate-y: 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 4, 0.3, 0, 2);
    -fx-font-size: 15px;
}

.button-fire:hover {
    -fx-background-color: linear-gradient(to bottom, #FFB700, #FF7C00);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-padding-left: 16;         /* fixed padding */
    -fx-padding-right: 16;
}

.button-fire:pressed {
    -fx-background-color: linear-gradient(to bottom, #FF8C00, #FF7000);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-padding-left: 16;         /* fixed padding */
    -fx-padding-right: 16;
}
